<h1>Bookmarks#new</h1>
<p>Find me in app/views/bookmarks/new.html.erb</p>

<%= form_for [@topic, @bookmark] ,html: {class: 'form-inline'} do |f| %>
    <div class="form-group">
        <%= f.label :url  %>
        <%= f.text_field :url,class: 'text-field', placeholder:'Enter the url'%>
        <%= f.submit "Save",class: 'btn btn-success' %>
  <% end %>
</div>