<%= form_for topic do |f|  %>
<div class='form-group'>
  <%= f.label :title%>
  <%= f.text_field :title, class: 'text-field', placeholder: 'Enter title' %>

<%= f.submit "Save", class: 'btn btn-success btn-xs' %>
<% end %>
</div>