<% if @user == current_user %>
  <div class = 'container'>
    <div class = 'row'>
      <h1>Topics</h1>
        <p class="lead">Click on topic to edit Blockmarks</p>
          <%= render partial: 'form', locals: {topic: Topic.new} %>
      <h3><%= render @topics %></h3>
    </div>
  </div>
<% else %>
  <%= flash[:alert] = "You are not allowed to view this page!" %>
<% end %>

