<div class = 'container'>
  <div class = 'row'>
    <h1>Topics</h1>
      <p class="lead">Click on topic to view Blockmarks</p>
      <h3><%= render partial: 'topics', locals: {topic: @topic} %></h3>
      
  </div>
  <p class="lead">Create new topic</p>
  <%= render partial: 'form', locals: {topic_book: Topic.new, attribute: :title} %>
  
</div>
    
