<h1><%="#{@topic.title}"%></h1>
<%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger btn-xs pull-left' %>
<%= link_to "Edit Topic", edit_topic_path(id: @topic.id), class: 'btn btn-primary btn-xs space' %>
<p>Find me in app/views/topics/show.html.erb</p>
