<!DOCTYPE html>
<html>
<head>
  <meta content="text.html; charset=UTF-8" http-equiv="Content-Type" />
</head>
  <body>
    <h1>Sign up for Blockmarks today!</h1>
    <p>Continue to https://infinite-anchorage-3954.herokuapp.com/users/sign_in to create an account!</p>
  </body>
</html>