/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url(https://fonts.googleapis.com/css?family=Montserrat);
 @import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,800);
 @import url(https://fonts.googleapis.com/css?family=Abel);
 @import url(https://fonts.googleapis.com/css?family=Bangers);

 body {
  padding-top: 60px;
  background-color: #A9A9A9;

 }
 .body-move {
  background-color: #A9A9A9;
  padding-left: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
 }

.adjust-link {
  margin-top: 12px;
  
  color: white;
  float: right;
}

ul {
  margin-right: 10px;
  display: inline-block;
  margin: 0px;
}
h2 {
  font-family: 'Londrina Shadow';
  color: white;
  font-size: 40px;
  margin: 10px 10px 0px 0px;
}
.user-info {
  margin-top: 6px;
  color: #A9A9A9
}
.welcome {
  margin-top: 100px;
  }
  .bottom {
    margin-top: 20px;
    color: #A9A9A9;
  }
h1 {
  font-family: 'Londrina Shadow';
  color: black;
  font-size: 40px;
  }
  .h1 {
  font-family: 'Londrina Shadow';
  color: black;
  font-size: 40px;
  }
  .h3 {
  font-family: 'Londrina Shadow';
  color: black;
  font-size: 30px;
  margin-left: 15px;
  }
  .space {
  margin-left: 20px;
  }
.pull-left-btn {
  margin-left: 10px;
  margin-right: 15px;
}
.bookmark-grid {

}
.box {
  background-color: lightgrey;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  color: inherit;
  text-decoration: none;
}
.box:hover {
  transition: 0.2s;
  transform: scale(1.05);
}
.bookmark-grid {
  display: flex;
  flex-wrap: wrap;
}
.box {
  flex-basis: 150px;
  flex-grow: 1;
}
.box {
  min-height: 150px;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.box {
  word-wrap: break-word;
}
.box > *{
  max-width: 100%;
}
.url {
  word-wrap: break-word;
}
a {
  color: black;
  font-family: 'Abel', sans-serif;
}
.likes {
  display: flex;
  justify-content: center;
  align-items: center;

}
.margin-left {
  margin-left: 7px;
}
.margin-right {
  margin-right: 7px;
}
